@import "tailwindcss";

/* Optional: Custom styling for your dashboard */
@theme {
  --font-serif: "Playfair Display", serif;
}

body {
  margin: 0;
  background-color: #080808;
  color: white;
  font-family: sans-serif;
}